<div style="padding-top: 40px;">
<div style="display: flex; flex-direction: row; gap: 20px; justify-content: center;">
    <div>
        ABOUT US
    </div>
    <div>
        JOIN THE CLUB
    </div>
    <div>
        GIFT CARDS
    </div>
        <div>
        NUTRITION
    </div>
    <div>
        CONTACT US
    </div>
    <div>
        CAREERS
    </div>
</div>
<div style="display: flex; flex-direction: row; gap: 20px; justify-content: center;">
    <div>
        STAY CONNECTED
    </div>
    <div>
        FB
    </div>
    <div>
        IG
    </div>
        <div>
        TWITTER
    </div>
    <div>
        GET OUR APP
    </div>
    <div>
        GOOGLE PLAY
    </div>
        <div>
        APP STORE
    </div>
</div>
<div style="display: flex; flex-direction: row; gap: 20px; justify-content: center;">
    <div>
        My Account
    </div>
    <div>
        Legal Notices
    </div>
    <div>
        Privacy Notice
    </div>
        <div>
        Accessibility Statement
    </div>
    <div>
        Site Map
    </div>
    <div>
        FAQs
    </div>
        <div>
        Other Locations
    </div>
            <div>
        Receipt Lookup
    </div>
</div>
<div style="display: flex; justify-content: center;"> 2025 Llewellyn Restaurant Management LLC. All Rights Reserved to
    Macayla Llewellyn </div>
</div>
