<div
   class="eclubWrapper">
    <div class="eclubTopContainer">
        <div class="eclubHeaderText">
            FOR SEAFOOD LOVERS ONLY
        </div>
        <input class="eclubInput" type="text" placeholder="Email Address">
        <input class="eclubInput" type="text" placeholder="Zip Code">
    </div>
    <div class="eclubBottomContainer">
        <div style="display: flex; flex-direction: column; ">
            <div>
                Join our eClub for exclusive offers and news, plus an appetizer on us.
            </div>
            <div>
                By subscribing, I affirm I am 21 or older
            </div>
        </div>

        <button class="eclubSignupButton"> SIGN UP</button>
    </div>

</div>