<div
    style="display: flex; flex-direction: column; width: 70%; justify-self: center; border-radius: 10px; background-color: rgb(13, 49, 70); color: white; height: 150px; padding-left: 20px; padding-top: 20px; padding-right: 20px; gap: 15px;">
    <div style="display: grid; grid-template-columns: 3fr 2fr 1fr; justify-content: space-between; gap: 20px;">
        <div style="font-size: 45px;">
            FOR SEAFOOD LOVERS ONLY
        </div>
        <input type="text" placeholder="Email Address">
        <input type="text" placeholder="Zip Code">
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="display: flex; flex-direction: column; ">
            <div>
                Join our eClub for exclusive offers and news, plus an appetizer on us.
            </div>
            <div>
                By subscribing, I affirm I am 21 or older
            </div>
        </div>

        <button> SIGN UP</button>
    </div>

</div>