.toolBarOptionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}


.baseToolbarContainer {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(7, 4, 39);
    color: white;
    font-size: 36px;
    font-family: 'Chewy', cursive;

}


.toolbarLeftOptions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.toolbarRightOptions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    font-size: 22px;
    padding-right: 30px;
}

@media (max-width: 766px) {
    .toolbarLeftOptions {
        display: none;
    }

    .toolbarRightOptions {
        display: none;
    }
}