.homeWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.videoOverlayWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.videoOverlayWrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoOverlayButton {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Playfair Display';
    background-color: rgb(33, 73, 110);
    color: white;

}

.videoOverlayTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: 'Playfair Display';
    transform: translateX(-50%);
}

.videoOverlayText {
    font-size: 65px;
    text-shadow: -1px -1px 0 rgb(33, 73, 110),
        1px -1px 0 rgb(33, 73, 110),
        -1px 1px 0 rgb(33, 73, 110),
        1px 1px 0 rgb(33, 73, 110);
}

.videoOverlayButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

.foodCarouselText {
    display: flex;
    font-size: 45px;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-family: 'Chewy', cursive;
}

.ourStoryHeaderText {
    font-size: 45px;
    width: 400px;
    align-self: center;
    font-family: 'Chewy', cursive;
}

.videoOverlayButton:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(33, 73, 110);
    transform: scale(1.1);

}

.ourStoryBackground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-content: center;
    background-image: url('/assets/ocean-gradient.jpg');
}