
<div>
    <video style="display: grid; justify-self: center; width: 1000px; height: 300px" autoplay muted loop>
        <source src="assets/crab-seafood-video.mp4" type="video/mp4" />
        Your browser does not support the video tag
    </video>
    <div style="position: absolute; top: 45%; left: 40%; text-align: center; font-weight: 700; color: white; font-size: 36px; font-family: 'Chewy', cursive;">
        <div style="background-color: black">
            Join Us for CrabFest
        </div>
    </div>
</div>

<img style="display: grid; justify-self: center;width: 500px" src="assets/seafood-restaurant-image1.jpg"/>

