<div class="homeWrapper">
    <div class="videoOverlayWrapper">
        <video autoplay playsinline muted loop>
            <source src="assets/oyster-video.mp4" type="video/mp4" />
            Your browser does not support the video tag
        </video>
        <div class="videoOverlayTextContainer">
            <div class="videoOverlayText">
                NOBODY DOES OYSTERS
            </div>
            <div class="videoOverlayText">
                LIKE DONNIE
            </div>

            <div class="videoOverlayButtonContainer">
                <button [routerLink]="['order']" class="videoOverlayButton">ORDER NOW</button>
                <button [routerLink]="['menu']" class="videoOverlayButton">VIEW MENU</button>
            </div>


        </div>
    </div>

    <app-eclub-signup></app-eclub-signup>
    <div class="foodCarouselText">
        ALWAYS FRESHLY CAUGHT
    </div>
    <app-food-item-carousel></app-food-item-carousel>
    <div class="ourStoryBackground">

        <img style="width: 800px; height: 500px;" src="assets/boat-fishing.jpg">
        <div style="align-content: center;">
            <div class="ourStoryHeaderText">
                IT ALL STARTED ON THE WATER
            </div>
            <div>
                You could say we know our way around the water.
            </div>
            <div style="padding-bottom: 20px;">
                We're always serving up fresh local fish.
            </div>
            <button class="videoOverlayButton"> OUR STORY</button>
        </div>

    </div>
</div>